{{ template "header" . }}
<div style="text-align: center;">
    <img src="/img/error.svg" width="100px">
    <br><br>
    <span style="color: #dc143c; font-size: 16px; "><b>{{.Error}}</b></span>
</div>
{{ template "footer" }}