{{ define "footer" }}
        </div>

{{ $tgData := getTelegramAccessData }}

        <footer style="
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #222;
            color: #fff;
            text-align: center;
            padding: 5px;
            ">
            RaccoonPirate {{ printVersion }} 🔗 <a href="https://github.com/racoon-devel/RaccoonPirate">GitHub</a> 
            {{ if $tgData.Enabled }}
            🤖 <a href="{{ $tgData.Url }}">@RaccoonPirateBot</a> 🔒 Access Code: <b>{{ $tgData.Code }}</b>
            {{ end }}
        </footer>
    </body>
</html>
{{ end }}