{{ template "header" . }}

<h1>Torrents</h1>
<center>
<form id="torrents" action="/torrents" method="get">       
    {{ template "media-type-choice" . }}
    <input type="submit" class="save-button" value="Show"/>
    <br>
</form>
</center>
<table class="classic-table" align="center">
    <tr>
        <th>
            Content
        </th>
        <th>
            Torrent
        </th>
        <th>
            Actions
        </th>
    </tr>
    {{ range $i, $t := $.Torrents }}
        <tr>
            <td>
                <b>{{ $t.BelongsTo }}</b>
            </td>
            <td>
                <b>{{ $t.Title }}</b>
            </td>
            <td>
                <a href="/torrents/delete/{{ $t.ID }}?media-type={{ $.MediaType }}"><input type="button" class="remove-button"
                                                                          value="Remove"></a>
            </td>
        </tr>
    {{ end }}
</table>

{{ template "footer" }}