{{ template "header" . }}
<div style="text-align: center;">
    <h1>Search</h1>
    <form id="search" action="/search" method="get">
        <img src="/img/logo.jpg" width="400"/>
        <br><br>
        <input type="text" placeholder="Search..." name="q" value="{{ .Query }}"><br><br>
        
        {{ template "media-type-choice" . }}
    </form>
    <table style="border-spacing: 10px;">
        {{range $i, $m := $.Movies}}
            <tr>
                <td><img src="{{$m.Poster}}" alt="{{$m.Title}}" width="200"/></td>
                <td valign="top" style="text-align: left">
                    <p>
                        <a href="https://www.imdb.com/title/{{$m.ID}}"><b>{{$m.Title}}</b></a><br>
                        <br>
                        <b>Year: </b> {{$m.Year}}<br>
                        <b>Genre: </b> {{$m.Genres}}<br>
                        <b>Description: </b><i>{{$m.Description}}</i><br>
                        <a href="/add/{{$m.ID}}">
                            <button>Add</button>
                        </a>
                        <a href="/add/{{$m.ID}}?select=true">
                            <button>Select torrent</button>
                        </a>
                    </p>
                </td>
            </tr>
        {{ end }}
    </table>
</div>
{{ template "footer" }}