{{ template "header" . }}
<h1>Выбор раздачи</h1>
<table class="classic-table">
    <tr>
        <th>Название</th>
        <th>Размер</th>
        <th>Сиды</th>
    </tr>
    {{range $i, $t := .Torrents}}
        <tr>
            <td><a href="/multimedia/download/{{$.Id}}?torrent={{$t.Id}}&fast={{$.Fast}}&select={{$.Select}}">{{ $t.Title }}</a></td>
            <td>{{$t.Size}}</td>
            <td>{{$t.Seeders}}</td>
        </tr>
    {{end}}
</table>
{{ template "footer" }}