{{ template "header" . }}
<h1>Select torrent</h1>
<table class="classic-table">
    <tr>
        <th>Title</th>
        <th>Size</th>
        <th>Seeders</th>
    </tr>
    {{range $i, $t := .Torrents}}
        <tr>
            <td><a href="/add/{{$.ID}}?torrent={{$t.Link}}&select={{$.Select}}">{{ $t.Title }}</a></td>
            <td>{{$t.Size}}</td>
            <td>{{$t.Seeders}}</td>
        </tr>
    {{end}}
</table>
{{ template "footer" }}