{{ template "header" . }}
<div style="text-align: center;">
    <img src="/img/success.png" width="100px">
    <br><br>
    <span style="color: #f1eaea; font-size: 16px; "><b>{{.Text}}</b></span>
</div>
{{ template "footer" }}